@use "_global" as *;
@use "_mixin" as *;

.mainHeader {
  height: 100vh;
  position: relative;
  &__img {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("img/landing/mountains_1500.jpg");
    opacity: 0.8;
  }
  p {
    position: absolute;
    font-size: 14px;
    bottom: calc(1vw + 1rem);
    left: calc(1vw + 1rem);
    color: whitesmoke;
    opacity: 1;
  }
  h1 {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    font-size: calc(2.25vw + 0.75rem);
    letter-spacing: 0.1rem;
    color: var(--darkModeTxtClr);
    text-shadow: 0px 0px 20px var(--darkModeBg);
    z-index: 1;
  }
  // DEVBAR STYLE //
  .devBar-bar {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%);
    font-family: "audiowide", cursive;
    width: 95%;
    &__btn {
      border: 2px solid var(--themeBdr);
      cursor: pointer;
      font-size: calc(1vw + .8em);
      font-weight: 400;
      letter-spacing: 0.1rem;
      text-align: center;
      border-radius: 2rem;
      width: 100%;
      height: auto;
      padding: 0.5rem 1.25rem;
      color: var(--darkModeTxtClr);
      text-shadow: 0px 0px 15px var(--darkModeBg);
      background-color: var(--darkModeClrlgtOp);
    }
    &__btn:hover {
      color: var(--darkModeBg);
      background-color: var(--darkModeBgOp);
      box-shadow: 0px 0px 30px rgb(255, 255, 255);
      background-image: none;
    }
  }
  .devBar-list {
    .listItem img {
      width: 40px;
    }
    &__html {
      position: absolute;
      top: 42%;
      left: 20%;
    }
    &__css {
      position: absolute;
      top: 42%;
      right: 20%;
    }
    &__sass {
      position: absolute;
      top: 76%;
      left: 10%;
    }
    &__javaScript {
      position: absolute;
      top: 73%;
      right: 10%;
    }
  }
}

// DEVBAR ANIMATION WITH JS SCRIPT //
// HIDE AND SHOW
.devBar-list .listItem {
  display: none; // hide
}
.openFrontEnd ~ .devBar-list .listItem {
  display: block; // show
}
// SELECTORS WITH EVENT CLASS ADDED FROM JS SCRIPT
.devBar-bar.openFrontEnd .devBar-bar__btn {
  color: var(--darkModeBg);
  background-color: var(--darkModeBgOp);
  box-shadow: 0px 0px 30px rgb(255, 255, 255);
  background-image: none;
}
// DEVBAR KEYFRAMES
.openFrontEnd {
  perspective: 1000px;
  ~ .devBar-list .listItem {
    opacity: 0;
    transform-origin: center;
  }
  @for $i from 1 through 4 {
    ~ .devBar-list .listItem:nth-child(#{$i}) {
      animation: frontEnd 300ms ease-in forwards;
      animation-delay: (150ms * $i) - 300ms;
    }
  }
}
@keyframes frontEnd {
  0% {
    opacity: 0;
    transform: scale(0.4) rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotateY(0deg);
  }
}

@media (min-width: 320px) {
  .mainHeader{
  .devBar-list {
    .listItem img {
      min-width: 60px;
    }
}
}
}
@media (min-width: 400px) {
  .mainHeader{
    img{
      width: 100%;
    }
  }
}
@media (min-width: 769px) {
  .mainHeader {
    .nameBanner {
      top: 18%;
    }
    .devBar-bar {
      top: 50%;
      max-width: 550px;
    }
    .devBar-list__html {
      top: 62%;
      left: 25%;
    }
    .devBar-list__css {
      top: 62%;
      right: 25%;
    }
    .devBar-list__sass {
      top: 77%;
      left: 10%;
    }
    .devBar-list__javaScript {
      top: 75%;
      right: 10%;
    }
  }
}
@media (min-width: 1024px) {
  .mainHeader {
    &__img{
      background-image: url("img/landing/mountains_1500.jpg");
    }
  }
}
@media (min-width: 1200px) {

}