@use "_global" as *;
@use "_mixin" as *;

// Home Work Projects
.HWprojects {
  h1 {
    color: var(--darkModeTxtClr);
  }
}
.displayBtn {
  @include shadowSm;
  cursor: pointer;
  color: var(--themeTxtClr);
  letter-spacing: 1px;
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 1rem;
  margin: 25px auto;
}
.wrapper {
  @include shadowLg-inset;
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 1rem 0;
  border-radius: 2rem;
  
  background-color: #e9e9e9;
}
.projectBox {
  @include shadowLg;
  max-width: 280px;
  margin: auto;
  padding: 0.5rem;
  background-color: #e9e9e9;
  border-radius: 1.5rem;
  .tributeBox {
    margin: auto;
    padding: 0.5rem;
    &__video {
      width: 400px;
      height: 225px;
      iframe {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
      }
    }
  }
}

// Animations
.pHeader {
  color: var(--darkModeTxtClr);
  margin: 20px auto;
  text-align: center;
  font-size: calc(2vw + 2rem);
}
.imgProject {
  &__container {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    margin: 50px auto;
    gap: 20px;
    .pContainer {
      min-width: 300px;
      margin: auto;
      border-radius: 2rem;
      .wrapper{
        height: 440px;
      }
      h1 {
        padding: 1rem;
        font-size: calc(1vw + 1.5rem);
        text-align: center;
      }
      .sectionHeader h2 {
        margin: auto;
        font-size: calc(1vw + 1rem);
        text-align: center;
        letter-spacing: 0.1rem;
        color: var(--darkModeTxtClr);
      }
    }
  }
}
.imgCarrousel {
  position: relative;
  .imgCarrousel-content {
    margin: auto;
    width: calc(9vw + 7rem);
    perspective: 1000px;
    .content__carrousel {
      width: 100%;
      transform-style: preserve-3d;
      figure {
        width: 100%;
        height: calc(5vw + 5.5rem);
        border: 1px solid var(--themeBdr);
        overflow: hidden;
        position: absolute;
        img {
          image-rendering: auto;
          transition: all 300ms;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        img:hover {
          transform: scale(1.5);
        }
      }
      figure:nth-child(1) {
        transform: rotateY(0deg) translateZ(calc(14vw + 9rem));
      }
      figure:nth-child(2) {
        transform: rotateY(40deg) translateZ(calc(14vw + 9rem));
      }
      figure:nth-child(3) {
        transform: rotateY(80deg) translateZ(calc(14vw + 9rem));
      }
      figure:nth-child(4) {
        transform: rotateY(120deg) translateZ(calc(14vw + 9rem));
      }
      figure:nth-child(5) {
        transform: rotateY(160deg) translateZ(calc(14vw + 9rem));
      }
      figure:nth-child(6) {
        transform: rotateY(200deg) translateZ(calc(14vw + 9rem));
      }
      figure:nth-child(7) {
        transform: rotateY(240deg) translateZ(calc(14vw + 9rem));
      }
      figure:nth-child(8) {
        transform: rotateY(280deg) translateZ(calc(14vw + 9rem));
      }
      figure:nth-child(9) {
        transform: rotateY(320deg) translateZ(calc(14vw + 9rem));
      }
      .shadow {
        position: absolute;
        box-shadow: 0px 0px 20px var(--darkModeTxtClr);
        border-radius: 0.25rem;
      }
    }
  }
  .player {
    @include shadowSm;
    position: absolute;
    width: 280px;
    bottom: calc(1vw + 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5rem;
    padding: 1rem;
    .player__btn {
      margin: 0px calc(.5vw + 1rem);
    }
    .player__btn .btn {
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: calc(1vw + 0.75rem);
      background-color: var(--themeTxtClr);
      z-index: 1;
    }
    .player__btn .stopBtn,
    .player__btn .pauseBtn {
      width: 35px;
      height: 35px;
    }
    .player__btn .stopBtn .stop {
      display: block;
      width: 15px;
      height: 15px;
      background-color: var(--black);
    }
    .pause {
      transform: scale(1.2);
      box-shadow: 0px 0px 20px 0px var(--darkModeTxtClr);
      text-shadow: 0px 0px 15px var(--darkModeTxtClr);
    }
    .fwdBtn {
      clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
    }
    .rwdBtn {
      clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
    }
  }
}
.playFwd.content__carrousel {
  animation: rotarF 15s infinite linear;
}
.playRwd.content__carrousel {
  animation: rotarR 15s infinite linear;
}
.pause.content__carrousel {
  animation-play-state: paused;
}
.content__carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}
@keyframes rotarF {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes rotarR {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
.imgCarrouselShow {
  display: block;
}
.imgCarrouselShow.showCarousel {
  display: block;
}
.imgSlider {
  margin: auto;
  height: 350px;
  position: relative;
  .projectBox {
    position: absolute;
    width: 300px;
    height: 200px;
    .imgContainer {
      .slide {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        transition: opacity 0.4s ease-in-out;
        background-size: cover;
        opacity: 0;
        border-radius: 1rem;
        overflow: hidden;
        .content {
          position: absolute;
          background-color: var(--darkModeClrlgtOp);
          bottom: 0;
          bottom: -300px;
          width: 100%;
          opacity: 0;
          color: var(--darkModeTxtClr);
          padding: calc(0.5vw + 0.1rem);
          text-overflow: wrap;
          h2 {
            margin-bottom: 5px;
            font-size: 16px;
            letter-spacing: 3px;
          }
          p {
            font-size: 12px;
            letter-spacing: 1px;
          }
        }
      }
      .slide.current {
        opacity: 1;
      }
      .slide.current .content {
        opacity: 1;
        transform: translateY(-300px);
        transition: all 0.7s ease-in-out 0.3s;
      }
      .slide:first-child {
        background-image: url("img/chandler-cruttenden-unsplash_img1.jpg");
      }
      .slide:nth-child(2) {
        background-image: url("img/sajad-nori-unsplash_img9.jpg");
      }
      .slide:nth-child(3) {
        background-image: url("img/daniel-sessler-unsplash_img3.jpg");
      }
      .slide:nth-child(4) {
        background-image: url("img/jarrad-horne-c-unsplash_img4.jpg");
      }
      .slide:nth-child(5) {
        background-image: url("img/quaid-lagan-unsplash_img5.jpg");
      }
      .slide:nth-child(6) {
        background-image: url("img/sebastien-jermer-unsplash_img6.jpg");
      }
      .slide:nth-child(7) {
        background-image: url("img/lewis-roberts-unsplash_img7.jpg");
      }
    }
    .buttons {
      button.btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        outline: none;
        border: none;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-color: var(--themeTxtClr);
        border-radius: 50%;
      }
      button#prevBtn.btn {
        left: calc(0.5vw + 0.5rem);
        clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
      }
      button#prevBtn.btn:hover {
        transform: scale(1.2);
      }
      button#nextBtn.btn {
        right: calc(0.5vw + 0.5rem);
        clip-path: polygon(
          75% 0%,
          100% 50%,
          75% 100%,
          50% 100%,
          75% 50%,
          50% 0
        );
      }
      button#nextBtn.btn:hover {
        transform: scale(1.2);
      }
    }
  }
}
.imgSliderShow {
  display: block;
}
.imgSliderShow.showSlider {
  display: block;
}
.imgGallery {
  .projectBox {
    .galleryContainer {
      .featureImg {
        margin: auto;
        max-width: 280px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
      }
      .featureImg img {
        width: 100%;
        border-radius: 1rem;
      }
      .galleryGrid img {
        margin: auto;
        max-height: 80px;
        border-radius: 0.5rem;
        padding: 10px 0;
      }
      .galleryGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 3px;
        max-height: 100px;
        overflow: scroll;
        width: 100%;
        background-color: #c9c9c9;
        margin: auto;
        border-radius: 0.5rem;
      }
    }
  }
}
.imgGalleryShow {
  display: block;
  height: calc(19vw + 19rem);
}
.imgGalleryShow.showGallery {
  display: block;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fadeIn {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}
.imgProductGalleryShow {
  display: block;
}
.imgProductGalleryShow.showProduct {
  display: block;
}
.productSlider {
  .productFeatureImg {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    img {
      width: 100%;
      border-radius: 1rem;
      cursor: pointer;
    }
  }
}
#productContainer {
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c9c9c9;
  border-radius: 1rem;
}
.productImgs {
  width: 280px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  .productImg {
    margin: 0 5px;
    max-width: 80px;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0.4;
  }
}
.productImg:hover {
  opacity: 1;
}
.activeProduct {
  opacity: 1;
}
#btnL {
  background-color: var(--themeTxtClr);
  width: 30px;
  height: 30px;
  clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
  cursor: pointer;
  border-radius: 50%;
}
#btnR {
  background-color: var(--themeTxtClr);
  width: 30px;
  height: 30px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
  cursor: pointer;
  border-radius: 50%;
}

.animationProject__cont-1 {
  &__wrapper1 {
    &__container1 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      margin: auto;
      padding: 0.5rem;
      border-radius: 0.75rem 0.75rem 0 0;
      &__item1:hover .hoverBox {
        translate: 100%;
      }
      &__item2 .hoverBox {
        transition: translate 1s ease-in-out;
      }
      &__item2:hover .hoverBox {
        translate: 100%;
      }
      &__item3:hover .hoverBox {
        animation: aquarnd 1.5s ease-in-out forwards;
      }
      &__item {
        margin: auto;
        height: 200px;
        width: 200px;
        cursor: pointer;
        background-color: var(--darkModeBgOp);
        margin-bottom: 15px;
        .hoverBox {
          width: 50%;
          height: 50%;
          background-color: coral;
        }
      }
      h3 {
        text-align: center;
        color: var(--darkModeBg);
        margin-bottom: 25px;
      }
    }
  }
  &__wrapper2 {
    &__container2 {
      margin: auto;
      padding: 0.5rem;
      border-radius: 0.75rem 0.75rem 0 0;
      overflow: hidden;
      h3 {
        text-align: center;
        color: orangered;
      }
      &__item1 {
        overflow: hidden;
        cursor: pointer;
        max-width: 600px;
        height: 400px;
        margin: auto;
        background-color: var(--darkModeBg);
        border-radius: 0.5rem;
        margin-bottom: 30px;
        .ninjaBox {
          overflow: hidden;
          margin: auto;
          width: 175px;
          height: 100px;
          top: 100px;
          transform-origin: 17px 150px;
          background-color: var(--darkModeBgOp);
          border-radius: 0.5rem;
          opacity: 0;
          .ninjaBox__header {
            display: grid;
            grid-template-columns: 30px auto 30px;
            background-color: coral;
            padding: 0.25rem;
            h3 {
              font-size: 16px;
              color: var(--darkModeBg);
            }
            .screw {
              width: 18.75px;
              height: 18.75px;
              margin: auto;
              color: black;
              text-align: center;
              background-color: silver;
              border-radius: 50%;
            }
          }
          h4 {
            font-size: 1rem;
            padding: 0.5rem;
            opacity: 0;
            color: var(--darkModeBg);
          }
          p {
            font-size: 1.5rem;
            text-align: right;
            font-weight: 700;
            letter-spacing: 0.1rem;
            color: var(--darkModeTxtClr);
            padding-right: 1rem;
            padding-top: 1.5rem;
            opacity: 0;
          }
        }
      }
    }
    &__container2__item1:hover .ninjaBox {
      animation: drop 750ms ease-in forwards,
        swing 2.25s ease-in-out 2s forwards, fall 300ms 4.75s linear forwards;
      opacity: 1;
      &__header .screw {
        animation: spin 650ms linear forwards 1s;
      }
      h4 {
        animation: quality 500ms 600ms ease-in-out forwards;
      }
      p {
        animation: counts 2.25s ease-in forwards;
      }
    }
  }
  &__wrapper3 {
    text-align: center;
    .dropDown {
      position: relative;
      list-style: none;
      padding: 0.5rem;
      background: #ddd;
      border-radius: 1rem;
      overflow: hidden;
      li {
        width: 100px;
        height: 45px;
        line-height: 45px;
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
        color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
        margin-bottom: 15px;
      }
      li:hover {
        background-color: #d5d5d5;
        border-radius: 5px;
      }
      li:last-child {
        margin-bottom: 0px;
      }
      ul.drop-menu {
        width: 100%;
        position: absolute;
        top: 0.5rem;
        left: 57%;
        li {
          background: #666;
          color: rgba(255, 255, 255, 0.7);
          margin-bottom: 0px;
        }
        li:hover {
          background-color: #606060;
        }
        li:last-child {
          border-radius: 0px 0px 5px 5px;
        }
      }
      // Default Trigger
      ul.drop-menu li {
        display: none; //Hide
      }
      li:hover > ul.drop-menu li {
        //selects the elements to display > selects child
        display: block; //Show
      }
    }
  }
  // Project 1 WDS Animation Project
  @keyframes aquarnd {
    0% {
      transform: translateY(0) translateX(0);
    }
    25% {
      transform: translateY(100%) translateX(0);
    }
    50% {
      background-color: aqua;
      border-radius: 50%;
    }
    75% {
      transform: translateY(100%) translateX(100%);
    }
    100% {
      transform: translateY(0%) translateX(100%);
    }
  }
  // Project 1 Net Ninja Project
  @keyframes drop {
    0% {
      transform: translateY(-100px);
    }
    60% {
      transform: translateY(125px);
    }
    90% {
      transform: translateY(120px);
    }
    100% {
      transform: translateY(125px);
    }
  }
  @keyframes spin {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(600deg);
    }
  }
  @keyframes swing {
    0% {
      transform: rotateZ(0deg) translateY(125px);
    }
    2% {
      transform: rotateZ(1deg) translateY(125px);
    }
    10% {
      transform: rotateZ(2deg) translateY(125px);
    }
    15% {
      transform: rotateZ(5deg) translateY(125px);
    }
    20% {
      transform: rotateZ(8deg) translateY(125px);
    }
    70% {
      transform: rotateZ(70deg) translateY(125px);
    }
    100% {
      transform: rotateZ(60deg) translateY(125px);
    }
  }
  @keyframes fall {
    0% {
      transform: rotateZ(60deg) translateY(160px);
    }
    100% {
      transform: translateY(600px) translateX(-30px);
    }
  }
  @keyframes quality {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translate(20px);
      opacity: 1;
    }
  }
  @keyframes counts {
    0% {
      transform: translateY(-17px);
      opacity: 1;
    }

    100% {
      transform: translateY(-37px);
      opacity: 1;
    }
  }

  // Project 1 Drop Down Menu
  // Demo 1
  li:hover > ul.drop-menu.menu-1 {
    perspective: 1000px;

    li {
      opacity: 0;
    }
    @for $i from 1 through 5 {
      li:nth-child(#{$i}) {
        animation: demo1 300ms ease-in-out forwards;
        animation-delay: (150ms * $i) -
          300ms; // next li starts halfway through first turn
      }
    }
  }
  @keyframes demo1 {
    0% {
      opacity: 0;
      transform: rotateY(-90deg) translateY(30px);
    }
    100% {
      opacity: 1;
      transform: rotateY(0deg) translateY(0px);
    }
  }
  // Demo 2
  li:hover > ul.drop-menu.menu-2 {
    perspective: 1000px;
    li {
      opacity: 0;
      transform-origin: top center;
    }
    @for $i from 1 through 5 {
      li:nth-child(#{$i}) {
        animation: demo2 300ms ease-in-out forwards;
        animation-delay: (150ms * $i) -
          300ms; // next li starts halfway through first turn
      }
    }
  }
  @keyframes demo2 {
    0% {
      opacity: 0;
      transform: rotatex(-90deg);
    }
    60% {
      transform: rotateX(50deg);
    }
    100% {
      opacity: 1;
      transform: rotatex(0deg);
    }
  }
  // Demo 3
  li:hover > ul.drop-menu.menu-3 {
    perspective: 1000px;
    li {
      opacity: 0;
    }
    @for $i from 1 through 5 {
      li:nth-child(#{$i}) {
        animation: demo3 300ms ease-in-out forwards;
        animation-delay: (150ms * $i) -
          300ms; // next li starts halfway through first turn
      }
    }
  }
  @keyframes demo3 {
    0% {
      opacity: 0;
      transform: scale(0.3) translateY(-60px);
    }
    60% {
      transform: scale(1.2) translateY(10px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0px);
    }
  }
  // Demo 4
  li:hover > ul.drop-menu.menu-4 {
    perspective: 1000px;
    li {
      opacity: 0;
      transform-origin: top right;
    }
    @for $i from 1 through 5 {
      li:nth-child(#{$i}) {
        animation: demo4 300ms ease-in-out forwards;
        animation-delay: (150ms * $i) -
          300ms; // next li starts halfway through first turn
      }
    }
  }
  @keyframes demo4 {
    0% {
      opacity: 0;
      transform: rotate(-30deg) translateX(30px);
    }
    100% {
      opacity: 1;
      transform: rotate(0deg) translateX(0px);
    }
  }
}
// Buttons
.buttonProject {
  // One Button Class
  &__Cont-1 {
    &__wrapper1 {
      width: calc(20vw + 7rem);
      background-color: rgb(230, 230, 230);
      padding: 0.5rem;
      border-radius: 0.5rem;
      h2 {
        text-align: center;
        margin-bottom: 20px;
      }
      .html {
        color: orangered;
        margin-bottom: 15px;
        h3 {
          text-align: center;
        }
        p {
          font-weight: 600;
        }
      }
      .att {
        color: green;
        margin-bottom: 15px;
        h3 {
          text-align: center;
        }
        p {
          font-weight: 600;
        }
      }
      .css {
        color: blue;
        margin-bottom: 15px;
        h3 {
          text-align: center;
        }
        p {
          font-weight: 600;
        }
      }
      .jsScript {
        color: yellow;
        margin-bottom: 15px;
        h3 {
          text-align: center;
        }
        p {
          font-weight: 600;
        }
      }
    }
    &__wrapper2 {
      .btns {
        .oneBtn {
          position: relative;
          cursor: pointer;
          width: 100%;
          border: none;
          background-color: #e9e9e9;
          margin-bottom: 250px;
          .motto {
            @include darkMode;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 200px;
            height: 200px;
            border-radius: 50%;
            text-align: center;
            p {
              padding: 3.25rem 1rem 1rem 1rem;
              letter-spacing: 0.1rem;
              font-size: 14px;
              span {
                color: green;
                font-size: 20px;
                font-weight: 700;
              }
            }
            div {
              font-size: 14px;
              color: red;
              font-weight: 600;
              span {
                color: green;
              }
              span:last-child {
                color: orange;
              }
            }
          }
        }
        .btnReg {
          h2 {
            font-size: calc(1vw + 1.25rem);
            text-align: center;
            margin: 25px 0px;
          }
          .btnDiv {
            @include shadowLg;
            background-color: #e3e3e3;
            padding: 1rem;
            border-radius: 1rem;
            margin-bottom: 75px;
            .messageBox {
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
              gap: 15px;
              margin-bottom: 20px;
              .activeButton {
                display: none;
                @include shadowLg;
                border-radius: 0.75rem;
                h4 {
                  width: 100%;
                  text-align: center;
                  padding: 0.25rem;
                }
                ul {
                  list-style: none;
                  padding-bottom: 0.25rem;
                  li {
                    text-align: center;
                    font-family: "montserrat";
                    font-size: calc(0.5vw + 0.4rem);
                  }
                }
              }
            }
            .btn-cont {
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
              gap: 20px;
              .btn-box {
                margin: auto;
                width: 100px;
                .btn {
                  @include shadowSm;
                  min-width: 100px;
                  cursor: pointer;
                  height: 30px;
                  background-color: rgb(230, 230, 230);
                  letter-spacing: 0.1rem;
                  border: none;
                  outline: none;
                }
                .btn:hover {
                  @include shadowLg;
                }
                .active {
                  @include shadowLg-inset;
                  border: none;
                }
              }
              .btn-rndCorner {
                border-radius: 1rem;
              }

              .btn-caution {
                color: yellow;
              }
              .btn-danger {
                color: orangered;
              }
              .btn-active {
                opacity: 0.7;
              }
            }
            // Round Button Override Style
            .btn-cont.Rnd-btn {
              text-align: center;
              .btn-smRnd {
                min-width: 25px;
                height: 25px;
                border-radius: 50%;
              }
              .btn-lgRnd {
                min-width: 75px;
                height: 75px;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }
  &__Cont-2 {
    // Project 2 Container 2 Wrapper 1 Toggle Buttons
    &__wrapper1 {
      .toggleBtns {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        .toggle-container {
          h4 {
            color: rgb(54, 54, 54);
            padding: 0.5rem;
            text-align: center;
          }
          .btn-container {
            @include shadowSm-inset;
            content: "";
            display: flex;
            align-items: center;
            justify-content: left;
            width: 200px;
            height: 100px;
            margin: auto;
            background-color: #e9e9e9;
            border-radius: 100px;
            margin-bottom: 25px;
            .toggle {
              @include shadowSm;
              cursor: pointer;
              margin-left: 10px;
              width: 85px;
              height: 85px;
              border-radius: 50%;
              border: none;
              outline: none;
            }
          }
        }
      }
    }
    &__wrapper2 {
      .toggleInputs {
        .toggle-container {
          h4 {
            padding: 0.5rem;
            text-align: center;
          }
          .toggleInput1 {
            @include shadowSm-inset;
            content: "";
            display: flex;
            align-items: center;
            justify-content: left;
            width: 200px;
            height: 100px;
            margin: auto;
            background-color: #e9e9e9;
            border-radius: 100px;
            input[type="checkbox"] {
              cursor: pointer;
              width: 90px;
              height: 90px;
              border: none;
              outline: none;
              border-radius: 50%;
            }
            label {
              content: "";
              border-radius: 50%;
              width: 90px;
              height: 90px;
              border: none;
            }
          }
        }
      }
    }
  }
  &__Cont-3 {
    // Project 2 Wrapper 4 Menu Buttons
    &__wrapper1 {
      .projectBox {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        .card-container {
          @include shadowSm-inset;
          border-radius: 1rem;
          .menuCard {
            padding: 2rem;
            height: 250px;
            h1 {
              @include darkMode;
              height: 100px;
              font-size: calc(0.75vw + 1rem);
              text-align: center;
              padding: 1rem;
              margin-bottom: 3rem;
              color: var(--themeTxtClr);
              text-shadow: 0px 0px 2px var(--black);
              background-image: url("img/background_2.png");
              background-size: cover;
              border-radius: 1rem;
            }
            .btn {
              cursor: pointer;
              width: 80px;
              margin: auto;
              .line {
                background-color: var(--darkModeTxtClr);
                width: 80px;
                height: 6px;
                border-radius: 1rem;
              }
              .lineTop {
                transform: translateY(-5px);
              }
              .lineCenter {
                background-color: var(--themeBdr);
              }
              .lineBottom {
                transform: translateY(5px);
              }
            }
            #menu2-btn .lineTop {
              transform: translateY(-5px);
            }
            #menu2-btn .lineCenter {
              background-color: orange;
            }
            #menu2-btn .lineBottom {
              transform: translateY(5px);
            }
            #menu3-btn .lineTop {
              transform: translateY(-5px);
            }
            #menu3-btn .lineBottom {
              transform: translateY(5px);
            }
            .menuClicked .lineTop {
              height: 6px;
              transform: translateY(8.5px) rotate(45deg);
            }
            .menuClicked .lineBottom {
              height: 6px;
              transform: translateY(-8.5) rotate(-45deg);
            }
            .menuClicked .lineCenter {
              opacity: 0;
            }
            .menuClicked.header3 {
              background-color: var(--themeBdr);
              transition: all 300ms ease-in-out;
            }
          }
        }
      }
    }
    &__wrapper2 {
      .projectBox {
        padding: 1rem;
        .navBar2 {
          height: 60px;
          .navBar2-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 60px;
            height: 60px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            border: 2px solid var(--themeBdr);
            box-shadow: 0px 0px 10px rgb(0, 0, 0);
            transition: all 0.5s ease-in-out;
            &__btn {
              position: absolute;
              width: 30px;
              height: 4px;
              border-radius: 5px;
              background-color: var(--darkModeTxtClr);
            }
            &__btn::after,
            &__btn::before {
              content: "";
              position: absolute;
              width: 30px;
              height: 4px;
              border-radius: 25%;
              background-color: var(--themeBdr);
              transition: all 0.5s ease-in-out;
            }
            &__btn::before {
              transform: translateY(-10px);
            }
            &__btn::after {
              transform: translateY(10px);
            }
          }
        }
        .navBar2-list {
          margin: var(--spacer);
          .listItem {
            display: grid;
            align-items: center;
            margin: 5px;
            font-family: "audiowide", cursive;
            font-size: calc(0.5vw + 1rem);
            border: 2px solid var(--themeBdr);
            border-radius: 1rem;
            background-color: var(--darkModeClrlgtOp);
            width: calc(6.5vw + 6.5rem);
            text-align: center;
            letter-spacing: 0.25rem;
          }
          a {
            color: var(--darkModeTxtClr);
            width: 100%;
            height: calc(1vw + 1.2rem);
            display: block;
            text-decoration: none;
          }

          .listItem:hover {
            box-shadow: 0px 0px 20px var(--darkModeTxtClr);
          }
          a:hover {
            color: var(--themeBdr);
          }
          .active a {
            width: 100%;
            font-weight: 600;
            box-shadow: 0px 0px 30px var(--darkModeTxtClr);
            color: var(--themeBdr);
            border-radius: 1rem;
            text-shadow: 0px 0px 10px var(--darkModeBg);
          }
        }
        // Project 4 NAVBAR ANIMATION WITH JS SCRIPT
        // Project 4 HIDE AND SHOW LIST
        .navBar2-list .listItem {
          display: none; // hide
        }
        .openNav ~ .navBar2-list .listItem {
          /* NEW CLASS FROM JS */
          display: block; // show
        }
        // ANIMATION TRIGGER SELECTORS WITH EVENT CLASS ADDED FROM JS SCRIPT
        .navBar2-menu.openNav .navBar2-menu__btn {
          background: transparent;
          box-shadow: none;
        }
        .navBar2-menu.openNav .navBar2-menu__btn::before {
          transform: rotate(45deg);
          background-color: var(--themeBdr);
        }
        .navBar2-menu.openNav .navBar2-menu__btn::after {
          transform: rotate(-45deg);
          background-color: var(--themeBdr);
        }
        // Project 4 NAVBAR KEYFRAMES
        .openNav {
          perspective: 1000px;
          ~ .navBar2-list .listItem {
            opacity: 0;
            transform-origin: top right;
          }
          @for $i from 1 through 4 {
            ~ .navBar2-list .listItem:nth-child(#{$i}) {
              animation: navBarAn 300ms ease-in forwards;
              animation-delay: (150ms * $i) - 300ms;
            }
          }
        }
        @keyframes navBarAn {
          0% {
            opacity: 0;
            transform: rotateY(90deg) translateY(-30px);
          }
          100% {
            opacity: 1;
            transform: rotateY(0deg) translateY(0px);
          }
        }
      }
    }
  }
}
// Local Storage
.localStorageProject {
  &__cont-1 {
    &__wrapper1 {
      &__container1 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        color: var(--darkModeTxtClr);
        padding-bottom: 75px;
        .title {
          margin: 10px auto;
          padding: 0.25rem;
          text-align: center;
          font-size: calc(1vw + 1rem);
          font-weight: 900;
          color: var(--darkModeTxtClr);
          background-color: var(--darkModeBg);
          border-radius: 0.75rem;
          letter-spacing: 2px;
        }
        .all-tasks {
          grid-area: lists;
        }
        .task-list {
          font-size: 1.2rem;
          line-height: 1.7;
        }
        .list-name {
          cursor: pointer;
        }
        .list-name:hover {
          opacity: 0.7;
        }
        form {
          display: flex;
        }
        .btn {
          cursor: pointer;
          background: 0;
          border: 0;
          padding: 0;
          color: inherit;
        }
        .btn.create {
          font-size: 1.5rem;
          font-weight: 900;
          margin-right: 0.25em;
          transition: opacity 250ms ease-in;
        }
        .btn.create:hover {
          opacity: 0.7;
        }
        .btn.delete {
          font-size: 1rem;
          opacity: 0.7;
          transition: color 200ms;
        }
        .btn.delete:hover {
          color: var(--clr-warning);
        }
        .new {
          background: transparent;
          border: 0;
          color: inherit;
          border-bottom: 1px solid currentColor;
          font-size: inherit;
          outline: none;
          padding: 0.25em;
          transition: border-bottom 150ms ease-in;
          order: 2;
        }
        .new::placeholder {
          opacity: 0.35;
        }
        .new:focus {
          border-bottom-width: 3px;
        }
        .new:focus::placeholder {
          opacity: 0.15;
        }
        .new.list {
          font-size: 1.2rem;
        }
        .new.task {
          margin-bottom: 0;
        }
        .active-list {
          font-weight: 700;
        }
        .todo-list {
          grid-area: active;
          background: var(--darkModeClrlgtOp);
          color: var(--darkModeTxtClr);
        }
        .todo-header {
          padding: var(--spacer);
          background: #e4e4e4;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .list-title {
          margin: 0 1em 0 0;
        }
        .task-count {
          margin: 0;
        }
        .todo-body {
          padding: var(--spacer);
          position: relative;
        }
        .new-task-creator .create {
          color: var(--darkModeTxtClr);
        }
        [type="checkbox"] {
          opacity: 0;
          position: absolute;
        }
        .task label {
          display: inline-flex;
          align-items: center;
          position: relative;
        }
        .task {
          position: relative;
          margin-bottom: 1.25em;
        }
        .task::after {
          content: "";
          position: absolute;
          right: 0;
          left: 0;
          bottom: -0.5em;
          height: 1px;
          background: currentColor;
          opacity: 0.1;
        }
        .custom-checkbox {
          display: inline-block;
          width: var(--spacer1);
          height: var(--spacer1);
          margin-right: var(--spacer1);
          cursor: pointer;
          border: 2px solid currentColor;
          border-radius: 50%;
          transform: scale(1);
          transition: transform 200ms ease-in-out;
        }
        .task:hover .custom-checkbox,
        [type="checkbox"]:focus + label .custom-checkbox {
          transform: scale(1.2);
          color: var(--darkModeTxtClr);
        }
        [type="checkbox"]:checked + label .custom-checkbox {
          background: var(--darkModeTxtClr);
          border-color: var(--darkModeTxtClr);
          box-shadow: inset 0 0 0px 2px var(--darkModeTxtClr);
        }
        .task label:after {
          content: "";
          position: absolute;
          left: 1.5em;
          right: 0;
          top: 50%;
          height: 3px;
          background: currentColor;
          transform: scale(0);
          transform-origin: right;
          transition: transform 250ms ease-in-out;
        }
        [type="checkbox"]:checked + label:after {
          transform: scale(1);
          transform-origin: left;
        }
        .delete-stuff {
          display: flex;
          justify-content: space-evenly;
          position: absolute;
          width: 100%;
          left: 0;
          bottom: -35px;
          color: var(--darkModeTxtClr);
        }
      }
    }
  }
}
// Web Players
.webPlayerProject {
  .playerV2 {
    position: relative;
    max-width: 600px;
    height: 200px;
    margin: auto;
    border-radius: 2rem;
    background-color: #e3e3e3;
    #analyzerBox {
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0.5rem;
      width: 80%;
      #graphics {
        width: 100%;
        height: 75px;
        background-color: rgb(0, 253, 14);
        border-radius: 0.5rem 0.5rem 0 0;
      }
    }
    .btn {
      cursor: pointer;
      width: 60px;
      height: 60px;
      background-color: black;
      color: rgb(0, 253, 14);
      font-size: calc(0.5vw + 0.75rem);
      outline: none;
      border: 2px solid rgb(0, 253, 14);
      border-radius: 50%;
    }
    .btn-playPause {
      position: absolute;
      bottom: calc(0.2vw + 0.2rem);
      left: calc(1vw + 0.5rem);
    }
    .btn-mute {
      position: absolute;
      bottom: calc(0.2vw + 0.2rem);
      right: calc(1vw + 0.5rem);
    }
    input {
      outline: none;
    }
    input[type="range"]::-moz-range-thumb {
      width: 13px;
      height: 13px;
      background-color: rgb(0, 253, 14);
      border-radius: 50%;
    }
    input[type="range"]::-moz-range-track {
      background-color: rgba(0, 253, 14, 0.6);
    }
    input[type="range"] {
      background-color: black;
    }
    #seekSlider2 {
      position: absolute;
      width: 150px;
      height: 20px;
      bottom: 30px;
      left: 150px;
      border-radius: 0.25rem 0 0 0.25rem;
    }
    #volumeSlider2 {
      position: absolute;
      top: 55px;
      background: none;
      right: -15px;
      width: 100px;
      transform: rotateZ(-90deg);
    }
    #timeBox2 {
      position: absolute;
      bottom: 28px;
      left: 300px;
      background-color: black;
      padding: 0.25rem;
      color: rgb(0, 253, 14);
      width: 125px;
      height: 27px;
      text-align: center;
      border-radius: 0.2rem 0.5rem 0.5rem 0.2rem;
    }
  }
  #trackBox {
    padding: 1rem;
    .trackBar {
      background: #ddd;
      font-family: "audiowide";
    }
    .playButton {
      opacity: 0.8;
      display: block;
      background: #000;
      color: white;
      width: 50px;
      padding: 5px;
      margin: 14px 0px 0px 14px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      outline: none;
    }
    .playButton:hover {
      opacity: 1;
    }
    .trackName {
      color: #000;
      margin: 12px 0px 0px 14px;
      font-size: 20px;
      font-weight: bold;
    }
    .trackBar:nth-child(even) {
      background: #eee;
    }
  }
}

// UI Trends
.myProjects {
  .pContainer {
    width: 95vw;
    height: auto;
    margin: auto;
    background-color: #e9e9e9;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px var(--darkModeTxtClr);
    margin-bottom: 100px;
    p {
      margin-bottom: 5px;
    }
    .wrapper {
      @include shadowLg-inset;
      width: 80%;
      margin: auto;
      padding: 2rem;
      border-radius: 2rem;
      margin-bottom: 50px;
      background-color: #e9e9e9;
      .shadowBox {
        padding: 1rem;
        background-color: #e9e9e9;
        @include shadowLg;
        border-radius: 2rem;
        .tributeBox {
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin: auto;
          padding: 2rem;
          &__video {
            width: 400px;
            height: 225px;
            iframe {
              width: 100%;
              height: 100%;
              border-radius: 0.5rem;
            }
          }
        }
      }
    }
  }
}
