.dream {
  &__container {
    @include darkMode;
    background-color: var(--darkModeBg);
    padding: 2rem;
    width: 95%;
    margin: 100px auto;
    border-radius: 1rem;
    border: 2px solid var(--themeBdr);
    &__header {
      h1 {
        padding: 2rem;
        text-align: center;
        font-size: 40px;
        color: var(--darkModeTxtClr);
      }
    }
    &__cardBox {
      @include darkMode;
      padding: 1rem;
      border-radius: 1rem;
      margin-bottom: calc(2.5vw + 2.5rem);
      height: calc(16vw + 16rem);
      transform-style: preserve-3d;
      h1 {
        position: absolute;
        bottom: 20px;
        right: 5%;
        font-size: calc(2vw + 2rem);
        letter-spacing: 0.1rem;
        color: var(--themeTxtClr);
        text-shadow: 0px 0px 4px var(--black);
      }
      h2 {
        position: absolute;
        font-size: calc(1vw + 1.25rem);
        letter-spacing: 0.1rem;
        top: 3%;
        left: 5%;
        color: var(--themeTxtClr);
        text-shadow: 0px 0px 4px var(--black);
      }
      .card {
        @include shadowSm-inset;
        cursor: pointer;
        position: absolute;
        width: calc(15vw + 15rem);
        height: calc(9vw + 9rem);
        top: calc(2.5vw + 2.5rem);
        left: 50%;
        transform: translateX(-50%);
        border-radius: 1rem;
      }
      .card__content {
        transform-style: preserve-3d;
        text-align: center;
        position: relative;
        transition: transform 2s;
      }
      .card:hover .card__content {
        transform: rotateY(0.5turn);
      }
      .card__front {
        background-image: url("img/crop.php.jpg");
      }
      .card__back {
        background-image: url("img/crop.php.jpg");
        transform: rotateY(0.5turn);
      }
      .card__back,
      .card__front {
        transform-style: preserve-3d;
        position: absolute;
        border-radius: 1rem;
        backface-visibility: hidden;
        background-size: cover;
        width: calc(15vw + 15rem);
        height: calc(9vw + 9rem);
        border: 2px solid red;
      }
      .card__front-title {
        position: absolute;
        transform: translateZ(2.5rem);
        top: calc(0.5vw + 0.5rem);
        left: calc(0.75vw + 0.75rem);
        color: red;
        font-size: calc(1vw + 1rem);
        text-shadow: 0px 0px 20px var(--darkModeTxtClr);
      }
      .card__subtitle {
        transform: translateZ(2.5rem);
        position: absolute;
        top: calc(7vw + 7rem);
        left: calc(9vw + 9rem);
        font-size: calc(1.5vw + 1.5rem);
        color: red;
        text-shadow: 0px 0px 20px var(--darkModeTxtClr);
      }
      .card__back-title {
        position: absolute;
        transform: translateZ(2.5rem);
        top: calc(2.5vw + 2.5rem);
        left: calc(0.5vw + 0.5rem);
        font-size: calc(1.5vw + 1.5rem);
        color: red;
        text-shadow: 0px 0px 20px var(--darkModeTxtClr);
      }
    }
    &__future {
      @include darkMode;
      padding: 2rem;
      border-radius: 1rem;
      .hands {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px auto;
        .hand {
          width: 350px;
          img {
            width: 100%;
            opacity: 0.8;
          }
          &__left {
            border-radius: 1rem 0 0.5rem 1rem;
            transform: rotateY(180deg);
          }
          &__right {
            border-radius: 1rem 0 0.5rem 1rem;
          }
        }
      }
      .tech {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        img {
          width: 350px;
          border-radius: 1rem;
          opacity: 0.8;
        }
      }
    }
    &__site {
      text-align: center;
    }
  }
}
.featureProject {
  margin-bottom: 100px;
}
.featureHeader {
  @include darkMode;
  text-align: center;
  margin: auto;
  padding: 2rem;
  width: 350px;
  border-radius: 1rem;
  background-image: url("img/background_2.png");
  background-size: cover;
  margin-bottom: 50px;
  background-color: white;
}
.tabletBox {
  max-width: 640px;
  margin: 50px auto;
  border-radius: 1.5rem;
  .tablet {
    @include tablet;
    padding: 0.4rem;
    background-color: rgb(29, 29, 29);
    border-radius: 1.5rem;
    max-width: 640px;
    text-align: center;
    iframe {
      max-width: 600px;
      width: 95%;
      height: 900px;
      border-radius: 0.75rem;
      outline: 3px solid var(--themeTxtClr);
      outline-offset: 3px;
      -moz-outline-radius: 1rem;
    }
    &__speakers {
      display: flex;
      align-self: center;
      justify-content: space-between;
      padding: 0 3rem;
      margin-bottom: 0.5rem;
      h5 {
        font-size: 8px;
        margin: 0;
        letter-spacing: 0.1rem;
        color: white;
      }
      .speaker {
        width: 100px;
        color: black;
        padding-top: 0.4rem;
        background-color: silver;
        border-radius: 4px 4px 13px 13px;
        overflow-wrap: break-word;
        line-height: 0.2;
      }
    }
    &__controls {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 12px;
        letter-spacing: 0.1rem;
        width: 125px;
        height: 35px;
        margin: 10px 50px;
        border-radius: 0.75rem 0.75rem 1.5rem 1.5rem;
        outline: none;
        @include tabletBtn-inset;
      }
      .fullScreen {
        cursor: pointer;
        @include tabletBtn-inset;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 5px;
      }
      .fullTablet {
        cursor: pointer;
        @include tabletBtn-inset;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 5px;
      }
    }
  }
}

.phones {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .phone {
    @include tablet;
    border-radius: 1rem;
    &__samsung {
      @include tablet;
      border-radius: 1rem;
      padding: 0.5rem 0;
      width: 300px;
      height: 500px;
      text-align: center;
      background-color: black;
      iframe {
        border-radius: 0.4rem;
        width: 280px;
        height: 470px;
      }
    }
    &__apple {
      @include tablet;
      border-radius: 1rem;
      padding: 0.5rem 0;
      width: 280px;
      height: 500px;
      text-align: center;
      background-color: black;
      iframe {
        border-radius: 0.4rem;
        width: 260px;
        height: 470px;
      }
    }
  }
}
.about {
  margin-bottom: 100px;
  &__banner {
    .banner__title {
      .profileImg {
        top: calc(1.5vw + 1.5rem);
        height: calc(4vw + 4rem);
        width: calc(3.25vw + 3.25rem);
      }
    }
  }
  &__bio {
    padding: 2rem;
    a {
      text-decoration: underline;
    }
    .container {
      @include darkMode;
      background-color: var(--darkModeBg);
      color: var(--darkModeTxtClr);
      margin-bottom: 50px;
      border-radius: 1.5rem;
      border: 2px solid var(--themeBdr);
    }
    .profile {
      @include darkMode;
      position: relative;
      background-color: var(--darkModeBg);
      margin: auto;
      max-width: 90%;
      height: 1350px;
      border-radius: 1.5rem;
      border: 2px solid var(--themeBdr);
      margin-top: 100px;
      margin-bottom: 100px;
      .seal {
        @include darkMode;
        top: 180px;
        background-color: #ffffff;
        opacity: 0.9;
      }
      .seal1 {
        position: absolute;
        left: 5%;
        width: calc(5.5vw + 5rem);
        height: calc(5.5vw + 5rem);
        padding: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        img {
          width: calc(6.25vw + 6.25rem);
        }
      }
      .seal2 {
        position: absolute;
        right: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(5.5vw + 5rem);
        height: calc(5.5vw + 5rem);
        border-radius: 50%;
        img {
          width: 100%;
        }
      }
      .logo-bar__img {
        position: absolute;
        top: 675px;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        img {
          margin: auto;
          width: 100px;
        }
      }
      .logo-bar2__img {
        position: absolute;
        top: 1100px;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        p {
          width: 100%;
          text-align: center;
          left: 50%;
          font-size: 22px;
          letter-spacing: 0.2rem;
          background-color: #ffffff;
          opacity: 0.9;
          color: red;
        }
        .imgs {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
          img {
            margin: auto;
            width: 100px;
          }
        }
      }
      p {
        @include shadowSm-inset;
        width: 80%;
        padding: 1rem;
        color: var(--themeTxtClr);
        letter-spacing: 0.1rem;
        line-height: 1.5;
        text-align: center;
        text-shadow: 0px 0px 2px var(--black);
        font-weight: 700;
        border-radius: 1rem;
        background-color: #ffffff;
        opacity: 0.9;
      }
      .p1 {
        position: relative;
        width: 90%;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 17px;
        background-image: url("img/background_2.png");
        background-size: cover;
        background-color: #ffffff;
        opacity: 0.9;
        span {
          display: block;
          text-shadow: 0px 0px 2px var(--black);
          font-size: 50px;
          font-family: "audiowide";
        }
      }
      h3 {
        position: absolute;
        width: 100%;
        top: 180px;
        text-align: center;
        font-family: "audiowide";
        font-size: 40px;
        color: var(--darkModeTxtClr);
        text-shadow: 0px 0px 3px var(--darkModeBgblk);
      }
      .p2 {
        position: absolute;
        top: 550px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 22px;
        span {
          text-shadow: 0px 0px 2px var(--darkModeBg);
          color: red;
        }
      }
      .p3 {
        position: absolute;
        top: 875px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 22px;
        background-color: #ffffff;
        span {
          font-family: "audiowide";
          letter-spacing: 0.2rem;
          color: var(--black);
        }
      }
      .profileImg {
        @include darkMode;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 300px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        width: calc(12vw + 12rem);
        height: calc(7vw + 7rem);
        background-image: url("img/background_2.png");
        background-size: cover;
        background-color: #ffffff;
        opacity: 0.9;
        img {
          background-image: url("img/profile_img.jpg");
          border-radius: 50%;
          width: calc(5vw + 5rem);
          box-shadow: 0px 0px 9px var(--darkModeTxtClr);
        }
      }
    }
    .solar {
      position: relative;
      max-width: 90%;
      background-color: var(--darkModeBg);
      opacity: 0.8;
      margin: 100px auto;
      padding: 2rem;
      &__article {
        margin: 50px;
        p {
          font-size: 20px;
          margin: 5px auto;
          text-align: center;
        }
      }
      &__img {
        @include darkMode;
        position: relative;
        display: block;
        margin: auto;
        width: 300px;
        height: 175px;
        background-image: url("img/tech_img/manny-becerra-NgdhrwAx0J8-unsplash.jpg");
        background-size: cover;
        border-radius: 1rem;
        h3 {
          position: absolute;
          width: 100%;
          padding: 1rem 0;
          text-align: center;
          letter-spacing: 0.15rem;
          font-size: 15px;
          color: var(--darkModeBg);
          text-shadow: 0px 0px 5px var(--darkModeTxtClr);
        }
      }
    }
    .change {
      display: block;
      margin: auto;
      margin-bottom: 100px;
      width: 90%;
      padding: 2rem;
      p {
        padding: 1rem;
        letter-spacing: 0.1rem;
        line-height: 1.5;
        font-weight: 500;
      }
      &__img {
        margin: auto;
        img {
          max-width: 200px;
          height: 100px;
        }
      }
    }
    &__article {
      margin-bottom: 50px;
      p {
        font-size: 20px;
        margin: 5px auto;
        text-align: center;
        color: var(--darkModeTxtClr);
      }
    }
    .growth {
      position: relative;
      margin: auto;
      margin-bottom: 100px;
      max-width: calc(21vw + 21rem);
      height: calc(20vw + 15rem);
      p {
        margin: 5px auto;
        font-size: calc(0.35vw + 0.5rem);
        color: var(--darkModeTxtClr);
        font-weight: 700;
        width: 80%;
        text-align: center;
      }
      .p1 {
        letter-spacing: 0.1rem;
        position: absolute;
        top: calc(1vw + 0.75rem);
        left: -22%;
        width: 325px;
      }
      .p2 {
        letter-spacing: 0.1rem;
        position: absolute;
        bottom: calc(1vw + 0.75rem);
        right: -22%;
        width: 325px;
      }
      p span {
        font-size: calc(0.5vw + 0.75rem);
      }
      p:first-letter {
        font-size: xx-large;
      }
      h3 {
        text-align: center;
        margin: auto;
        font-size: calc(0.75vw + 0.75rem);
        font-family: monospace;
        color: var(--darkModeTxtClr);
      }
      .quote {
        position: absolute;
        width: calc(8vw + 8rem);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
          width: 100%;
        }
      }
    }
    .rome {
      &__article {
        @include darkMode;
        position: relative;
        background-image: url("img/tech_img/tech_img3.jpg");
        background-size: contain;
        background-color: var(--darkModeBg);
        opacity: 0.8;
        margin: auto;
        max-width: calc(15vw + 15rem);
        height: calc(10vw + 10rem);
        border-radius: 1rem;
      }
      p {
        margin: 15px;
        letter-spacing: 0.1rem;
        line-height: 1.5;
        font-weight: 700;
      }
      p:last-child {
        text-align: right;
      }
      .p1 {
        position: absolute;
        top: 6%;
        left: 15%;
        color: var(--darkModeBg);
      }
      .p2 {
        position: absolute;
        top: 37%;
        left: 5%;
        color: var(--darkModeBg);
      }
      h3 {
        position: absolute;
        top: 85%;
        left: 10%;
        color: var(--darkModeBg);
        font-size: calc(1vw + 0.75rem);
      }
    }
    .why {
      width: 100%;
      padding: 2rem;
      &__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          line-height: 1.6;
          margin: 10px;
          width: 75%;
          text-align: center;
        }
      }
      h2 {
        text-align: center;
      }
      &__links {
        width: 100%;
        p {
          text-align: center;
          margin: 20px;
        }
      }
    }
  }
}
