@use '_global' as *;
@use "_mixin" as *;

.dream {
  &__container {
    @include darkMode;
    background-color: var(--darkModeBg);
    width: 95%;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 1rem;
    padding-top: 1.5em;
    &__cardBox {
      margin-bottom: calc(2.5vw + 2.5rem);
      width: 100%;
      height: calc(16vw + 16em);
      transform-style: preserve-3d;
      h1 {
        position: absolute;
        bottom: 20px;
        right: 5%;
        font-size: 2em;
        letter-spacing: 0.1rem;
        color: var(--themeTxtClr);
        text-shadow: 0px 0px 4px var(--black);
      }
      h2 {
        position: absolute;
        font-size: 1.5em;
        letter-spacing: 0.1rem;
        top: 3%;
        left: 5%;
        color: var(--themeTxtClr);
        text-shadow: 0px 0px 4px var(--black);
      }
      .card {
        @include shadowSm-inset;
        cursor: pointer;
        position: absolute;
        width: calc(15vw + 15em);
        height: calc(9vw + 9em);
        top: calc(2.5vw + 2.5em);
        left: 50%;
        transform: translateX(-50%);
        border-radius: 1rem;
      }
      .card__content {
        transform-style: preserve-3d;
        text-align: center;
        position: relative;
        transition: transform 2s;
      }
      .card:hover .card__content {
        transform: rotateY(0.5turn);
      }
      .card__front {
        background-image: url("img/crop.php.jpg");
        background-position: center;
        background-size: cover;
      }
      .card__back {
        background-image: url("img/crop.php.jpg");
        background-position: center;
        background-size: cover;
        transform: rotateY(0.5turn);
      }
      .card__back,
      .card__front {
        transform-style: preserve-3d;
        position: absolute;
        border-radius: 1rem;
        backface-visibility: hidden;
        background-size: cover;
        width: calc(15vw + 15em);
        height: calc(9vw + 9em);
      }
      .card__front-title {
        position: absolute;
        transform: translateZ(2.5em);
        top: calc(1vw + 1em);
        left: calc(2vw + 1em);
        color: var(--black);
        text-shadow: 0px 0px 3px var(--themeTxtClr);
        font-size: calc(1vw + 1em);
      }
      .card__subtitle {
        transform: translateZ(2.5em);
        position: absolute;
        top: calc(3.75vw + 3.5em);
        left: calc(4vw + 4em);
        font-size: calc(1.5vw + 1.5em);
        color: var(--black);
        text-shadow: 0px 0px 5px var(--themeTxtClr);
      }
      .card__back-title {
        position: absolute;
        transform: translateZ(2.5em);
        top: calc(2vw + 1.5em);
        left: calc(0.5vw + 0.5em);
        font-size: calc(1.5vw + 1.5em);
        color: var(--black);
        text-shadow: 0px 0px 5px var(--themeTxtClr);
      }
    }
    &__future {
      @include darkMode;
      padding: 2em;
      border-radius: 1rem;
      .hands {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px auto;
        .hand {
          width: 350px;
          img {
            width: 100%;
            opacity: 0.8;
          }
          &__left {
            border-radius: 1rem 0 0.5rem 1rem;
            transform: rotateY(180deg);
          }
          &__right {
            border-radius: 1rem 0 0.5rem 1rem;
          }
        }
      }
      .tech {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        img {
          width: calc(3vw + 3rem);
          border-radius: 1rem;
          opacity: 0.8;
        }
      }
    }
    &__site {
      text-align: center;
    }
  }
}
.featureProject {
  margin-bottom: 100px;
}
.tabletBox {
  display: none;
  max-width: 475px;
  margin: 50px auto;
  border-radius: 1.5rem;
  .tablet {
    @include tablet;
    padding: 0.4rem;
    background-color: rgb(29, 29, 29);
    border-radius: 1.5rem;
    text-align: center;
    iframe {
      max-width: 550px;
      width: 95%;
      height: 530px;
      border-radius: 0.75rem;
      outline: 3px solid var(--themeTxtClr);
      outline-offset: 3px;
      -moz-outline-radius: 1rem;
    }
    &__speakers {
      display: flex;
      align-self: center;
      justify-content: space-between;
      padding: 0 3rem;
      margin-bottom: 0.5rem;
      h5 {
        font-size: 8px;
        margin: 0;
        letter-spacing: 0.1rem;
        color: white;
      }
      .speaker {
        width: 100px;
        color: black;
        padding-top: 0.4rem;
        background-color: silver;
        border-radius: 4px 4px 13px 13px;
        overflow-wrap: break-word;
        line-height: 0.2;
      }
    }
    &__controls {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 12px;
        letter-spacing: 0.1rem;
        width: 125px;
        height: 35px;
        margin: 10px 50px;
        border-radius: 0.75rem 0.75rem 1.5rem 1.5rem;
        outline: none;
        @include tabletBtn-inset;
      }
      .fullScreen {
        cursor: pointer;
        @include tabletBtn-inset;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 5px;
      }
      .fullTablet {
        cursor: pointer;
        @include tabletBtn-inset;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 5px;
      }
    }
  }
}
.iPadBox {
  display: none;
  max-width: 655px;
  margin: auto;
  .iPad {
    @include tablet;
    display: flex;
    padding: 0.4em;
    border-radius: 1.5em;
    height: 460px;
    &__display{
      position: relative;
      width: 565px;
      height: 452px;
      background-color: rgb(29, 29, 29);
      iframe {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 565px;
        height: 430px;
        border: none;
        place-content: center;
      }
    }
    .frontCam {
      width: 30px;
      background-color: rgb(29, 29, 29);
      border-radius: 0em 1em 1em 0em;
    }
    .iPadNav {
      width: 50px;
      background-color: rgb(29, 29, 29);
      border-radius: 1em 0em 0em 1em;
    }
  }
}
.phones {
  margin: 50px auto;
  
  max-width: 900px;
  .phone {
    &__samsung {
      @include tablet;
      margin: 25px auto;
      border-radius: 1rem;
      padding: 0.5em 0;
      width: 210px;
      height: 350px;
      text-align: center;
      background-color: black;
      iframe {
        border-radius: 0.75rem;
        width: 200px;
        height: 340px;
        border: none;
      }
    }
    &__apple {
      @include tablet;
      margin: 25px auto;
      border-radius: 1rem;
      padding: 0.5rem 0;
      width: 200px;
      height: 330px;
      text-align: center;
      background-color: black;
      iframe {
        border-radius: 0.75rem;
        width: 190px;
        height: 275px;
        border: none;
      }
    }
  }
}
.about {
  margin-bottom: 50px;
  &__bio {
    a {
      text-decoration: underline;
    }
    &__article {
      margin-bottom: 50px;
      p {
        font-size: 20px;
        margin: 5px auto;
        text-align: center;
        color: var(--darkModeTxtClr);
      }
    }
    .profile {
      @include darkMode;
      position: relative;
      background-color: var(--darkModeBg);
      margin: 50px auto;
      max-width: 95%;
      height: 900px;
      border-radius: 1rem;
      p {
      }
      h3 {
        position: absolute;
        width: 100%;
        top: 30px;
        text-align: center;
        font-family: "audiowide";
        font-size: 24px;
        color: var(--darkModeTxtClr);
        text-shadow: 0px 0px 3px var(--darkModeBgblk);
      }
      .seal {
        top: 70px;
        width: calc(4vw + 4rem);
        height: calc(4vw + 4rem);
        opacity: 0.9;
      }
      .seal1 {
        position: absolute;
        left: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        img {
          width: calc(5.5vw + 5.5rem);
        }
      }
      .seal2 {
        position: absolute;
        right: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        img {
          width: 100%;
        }
      }
      .profileImg {
        @include darkMode;
        position: absolute;
        top: 230px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.7;
        border-radius: 50%;
        overflow: hidden;
        img {
          background-image: url("img/profile_img.jpg");
          width: calc(6.5vw + 6.5rem);
          box-shadow: 0px 0px 9px var(--darkModeTxtClr);
        }
      }
      .p2 {
        position: absolute;
        top: 175px;
        width: 300px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
        span {
          text-shadow: 0px 0px 2px var(--darkModeBg);
          color: red;
        }
      }
      .logo-bar__img {
        position: absolute;
        top: 540px;
        left: 50%;
        width: 300px;
        transform: translateX(-50%);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        img {
          margin: auto;
          width: 60px;
        }
      }
      .p3 {
        position: absolute;
        top: 425px;
        left: 50%;
        transform: translateX(-50%);
        width: 280px;
        letter-spacing: 0.1rem;
        line-height: 1.25;
        text-align: center;
        opacity: 0.9;
        font-size: 14px;
        span {
          font-family: "audiowide";
          font-size: 16px;
          letter-spacing: 0.1rem;
          color: var(--black);
        }
      }
      .logo-bar2__img {
        position: absolute;
        top: 685px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        p {
          width: 200px;
          margin: auto;
          padding: 0.25rem;
          text-align: center;
          font-size: 14px;
          letter-spacing: 0.1rem;
          background-color: #ffffff;
          border-radius: 1rem;
          color: red;
        }
        .imgs {
          margin-top: 15px;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
          gap: 10px;
          img {
            margin: auto;
            width: 75px;
          }
        }
      }
    }
    .container {
      @include darkMode;
      background-color: var(--darkModeBg);
      color: var(--black);
      margin-bottom: 25px;
      border-radius: 1.5rem;
    }
    .solar {
      position: relative;
      margin: auto;
      max-width: 95%;
      background-color: var(--darkModeBg);
      margin-bottom: 25px;
      &__article {
        padding: 25px;
        p {
          margin: auto;
          font-size: 16px;
          letter-spacing: 0.1rem;
          line-height: 1.2;
          font-weight: 400;
          text-align: center;
          margin-bottom: 20px;
        }
      }
      &__img {
        @include darkMode;
        position: relative;
        opacity: 0.8;
        display: block;
        margin: auto;
        width: 150px;
        height: 100px;
        background-image: url("img/tech_img/manny-becerra-NgdhrwAx0J8-unsplash.jpg");
        background-size: cover;
        border-radius: 1rem;
        h3 {
          position: absolute;
          width: 100%;
          padding: 0.5rem 0;
          text-align: center;
          letter-spacing: 0.15rem;
          font-size: 10px;
          color: var(--darkModeBg);
          text-shadow: 0px 0px 5px var(--darkModeTxtClr);
        }
      }
    }
    .change {
      margin: auto;
      margin-bottom: 50px;
      width: 95%;
      p {
        padding: 1rem;
        text-align: center;
        letter-spacing: 0.1rem;
        line-height: 1.1;
        font-weight: 400;
      }
      &__img {
        position: relative;
        top: 25px;
        height: 100px;
        margin-bottom: 25px;
        &__2 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 75px;
          height: 55px;
          border-radius: 0.5rem;
          overflow: hidden;
          z-index: 1;
          img {
            width: 100%;
          }
        }
        &__1 {
          position: absolute;
          width: 140px;
          left: 7px;
          border-radius: 1rem;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        &__3 {
          position: absolute;
          width: 140px;
          right: 7px;
          border-radius: 1rem;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }
      &__img2 {
        position: relative;
        &__5 {
          position: absolute;
          width: 100px;
          height: 65px;
          img {
            width: 100%;
          }
        }
        &__4 {
          position: absolute;
          width: 100px;
          height: 65px;
          img {
            width: 100%;
          }
        }
      }
    }
    .growth {
      position: relative;
      margin: auto;
      margin-bottom: 100px;
      max-width: calc(21vw + 21rem);
      height: calc(20vw + 15rem);
      p {
        margin: 5px auto;
        font-size: calc(0.35vw + 0.5rem);
        color: var(--darkModeTxtClr);
        font-weight: 700;
        width: 80%;
        text-align: center;
      }
      .p1 {
        letter-spacing: 0.1rem;
        position: absolute;
        top: calc(1vw + 0.75rem);
        left: -5%;
        width: 325px;
      }
      .p2 {
        letter-spacing: 0.1rem;
        position: absolute;
        bottom: calc(1vw + 0.75rem);
        left: 22%;
        width: 325px;
      }
      p span {
        font-size: calc(0.5vw + 0.75rem);
      }
      p:first-letter {
        font-size: xx-large;
      }
      h3 {
        text-align: center;
        margin: auto;
        font-size: calc(0.75vw + 0.75rem);
        font-family: monospace;
        color: var(--darkModeTxtClr);
      }
      .quote {
        position: absolute;
        width: calc(8vw + 8rem);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
          width: 100%;
        }
      }
    }
    .rome {
      &__article {
        @include darkMode;
        position: relative;
        background-image: url("img/tech_img/tech_img3.jpg");
        background-size: contain;
        background-color: var(--darkModeBg);
        opacity: 0.8;
        margin: auto;
        max-width: calc(15vw + 15rem);
        height: calc(10vw + 10rem);
        border-radius: 1rem;
      }
      p {
        margin: 15px;
        letter-spacing: 0.1rem;
        line-height: 1.5;
        font-weight: 700;
      }
      p:last-child {
        text-align: right;
      }
      .p1 {
        position: absolute;
        top: 6%;
        left: 15%;
        color: var(--darkModeBg);
      }
      .p2 {
        position: absolute;
        top: 37%;
        left: 5%;
        color: var(--darkModeBg);
      }
      h3 {
        position: absolute;
        top: 85%;
        left: 10%;
        color: var(--darkModeBg);
        font-size: calc(1vw + 0.75rem);
      }
    }
    .why {
      width: 100%;
      padding: 2rem;
      &__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          line-height: 1.6;
          margin: 10px;
          width: 75%;
          text-align: center;
        }
      }
      h2 {
        text-align: center;
      }
      &__links {
        width: 100%;
        p {
          text-align: center;
          margin: 20px;
        }
      }
    }
  }
}
@media (min-width: 320px) {
  .phones {
    .phone {
      &__samsung {
        width: 275px;
        height: 430px;
        iframe {
          width: 247px;
          height: 420px;
        }
      }
      &__apple {
        width: 250px;
        height: 470px;
        iframe {
          width: 240px;
          height: 405px;
        }
      }
    }
  }
}
@media (min-width: 400px) {
  .phones {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
    .phone {
      &__samsung {
        width: 275px;
        height: 430px;
        iframe {
          width: 247px;
          height: 420px;
        }
      }
      &__apple {
        width: 250px;
        height: 470px;
        iframe {
          width: 240px;
          height: 405px;
        }
      }
    }
  }
}
@media (min-width: 550px) {
  .tabletBox {
    display: block;
  }
}
@media (min-width: 769px) {
  .iPadBox {
    display: block;
  }
}
@media (min-width: 1024px) {
}
