@use "_global" as *;
@use "_mixin" as *;

.themeToggles {
  .darkMode {
    background-color: var(--themeTxtClr);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 7px;
    left: 7px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    z-index: 4;
    .toggle {
      display: block;
      cursor: pointer;
      width: 28px;
      height: 28px;
      border-radius: 28px;
      border: none;
      background-image: url("img/icon/sun_light_mode_day-2-512.webp");
      background-size: contain;
    }
  }
  .colorMode {
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    transform-origin: center;
    .colorModeBtn {
      display: none;
      cursor: pointer;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      outline: none;
      background-image: url("img/icon/color-wheel-complementary-colors-color-scheme-png-favpng-bKTeQu9z4rjk6VQjV9mWDPYCm.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      border: 2px solid var(--themeTxtClr);
    }
  }
  .colorModeBtn.sun {
    display: block;
    animation: Sun 750ms ease-in-out forwards;
  }
  .colorThemes {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: row;
    list-style: none;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    li {
      display: none;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #e3e3e3;
      margin: 10px;
    }
    .themeDots {
      display: none;
      opacity: 0;
      cursor: pointer;
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    #default {
      background-color: black;
      box-shadow: 0px 0px 5px black;
    }
    #red {
      background-color: orangered;
      box-shadow: 0px 0px 5px red;
    }
    #blue {
      background-color: blue;
      box-shadow: 0px 0px 5px blue;
    }
    #pink {
      background-color: pink;
      box-shadow: 0px 0px 5px pink;
    }
    #yellow {
      background-color: yellow;
      box-shadow: 0px 0px 5px yellow;
    }
  }

  .topBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    @include darkMode;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    outline: none;
    border: none;
    text-decoration: none;
    font-size: x-large;
    color: var(--themeTxtClr);
    background-color: var(--darkModeBg);
    z-index: 10;
  }
  // Theme Animation Classes
  .themeDots.dots {
    display: block;
  }
  .themeDots.hideDots {
    display: none;
    opacity: 1;
  }
  #default.dots {
    animation: dots 300ms ease-out forwards;
  }
  #red.dots {
    animation: dots 300ms 100ms ease-out forwards;
  }
  #blue.dots {
    animation: dots 300ms 200ms ease-out forwards;
  }
  #pink.dots {
    animation: dots 300ms 300ms ease-out forwards;
  }
  #yellow.dots {
    animation: dots 300ms 400ms ease-out forwards;
  }
  #default.hideDots {
    animation: dotsHide 300ms 400ms ease-out forwards;
  }
  #red.hideDots {
    animation: dotsHide 300ms 300ms ease-out forwards;
  }
  #blue.hideDots {
    animation: dotsHide 300ms 200ms ease-out forwards;
  }
  #pink.hideDots {
    animation: dotsHide 300ms 100ms ease-out forwards;
  }
  #yellow.hideDots {
    animation: dotsHide 300ms ease-out forwards;
  }
}
.banner {
  &__top {
    position: relative;
    height: 45vw;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
    margin-bottom: -7vw;
    background-color: var(--darkModeBgblk);
    background-image: url("img/header_background_2.png");
    background-size: cover;
    border-top: 3px solid var(--themeTxtClr);
    z-index: 1;
    .logo-bar__img {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      top: 12px;
      text-align: center;
      img {
        margin: 5px;
        max-width: calc(3vw + 3em);
      }
    }
    h1 {
      position: absolute;
      bottom: calc(7vw - 1em);
      right: 4%;
      transform: rotate(-3.8deg);
      font-family: "Audiowide", cursive;
      font-size: 1em;
      color: var(--darkModeTxtClr);
      margin-bottom: 0;
      padding-bottom: 5px;
      letter-spacing: 2px;
      span {
        color: red;
        text-shadow: 0px 0px 5px var(--themeTxtClr);
        font-size: 1.4em;
      }
    }
    &__img {
      @include darkMode;
      position: absolute;
      top: 12px;
      left: calc(1vw + 1rem);
      width: 200px;
      font-size: 12px;
      border-radius: 1rem;
      background-image: url("../dist/img/clouds-72634.jpg");
      background-size: cover;
      background-color: var(--darkModeBg);
      .slide {
        p {
          padding: 0 0.25rem;
          padding-top: 0.25rem;
          text-align: center;
          line-height: 1rem;
        }
        h4 {
          padding-bottom: 0.5rem;
          text-align: center;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }
  &__title {
    position: relative;
    height: calc(5vw + 5em);
    width: 100%;
    background-color: var(--darkModeBg);
    h2 {
      position: absolute;
      width: 100%;
      text-align: center;
      top: calc(1vw + 1.75em);
      color: var(--themeTxtClr);
      font-size: calc(2vw + 1em);
      letter-spacing: 0.25em;
      text-shadow: 0px 0px 5px var(--black);
    }
  }
}
.homeWork-top{
  background-image: url('img/tech_img/mwesigwa-joel-1500.jpg');
  background-size: cover;
  background-position: center;
  h1{
    text-shadow: 0px 0px 2px var(--darkModeBg);
    color: var(--black);
    font-weight: 400;
  }
}
.homeWork-title{
  background-image: url('img/background_2.png');
  background-size: cover;
  background-position: center;
}
.program-top{
  background-image: url('img/tech_img/imgix-1500.jpg');
  background-size: cover;
  background-position: center;
  h1{
    text-shadow: 0px 0px 2px var(--darkModeBg);
    color: var(--black);
    font-weight: 400;
  }
}
.program-title{
  background-image: url('img/background_2.png');
  background-size: cover;
  background-position: center;
}
.article {
  margin: 2em 0;
  background-color: var(--darkModeBg);
  padding: 1em 0em;
  .imgs {
    @include shadowSm-inset;
    margin: auto;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 700px;
    border-radius: 1.5rem;
    .img {
      perspective: 200px;
      width: calc(8vw + 8em);
      height: calc(5vw + 5em);
      img, iframe {
        border: 2px solid var(--themeTxtClr);
        width: 100%;
        height: 100%;
        opacity: 0.8;
      }
      iframe {
        border: 2px solid var(--themeTxtClr);
        width: 100%;
        height: 100%;
        opacity: 0.8;
      }
    }
    .img1 {
      z-index: 1;
      iframe,
      img {
        perspective-origin: right;
        transform-origin: right;
        transform: rotateY(12deg);
        border-radius: 0.5rem 5px 5px 0.5rem;
        box-shadow: 0px -5px 5px var(--black), 0px 5px 5px var(--black),
          -5px 0px 5px var(--black);
      }
    }
    .img2 {
      iframe,
      img {
        perspective-origin: center;
        box-shadow: 0px -5px 5px var(--black), 0px 5px 5px var(--black);
        border-radius: 5px;
      }
    }
    .img3 {
      z-index: 1;
      iframe,
      img {
        perspective-origin: left;
        transform-origin: left;
        transform: rotateY(-12deg);
        border-radius: 5px 0.5rem 0.5rem 5px;
        box-shadow: 0px -5px 5px var(--black), 0px 5px 5px var(--black),
          5px 0px 5px var(--black);
      }
    }
  }
}
.missionStatement {
  @include darkMode;
  margin: 1.5em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 225px;
  max-height: 150px;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 100);
  h2 {
    padding: 0.25em 0.5em;
    font-size: 22px;
  }
  p {
    font-size: 12px;
    line-height: 1.5em;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
      sans-serif;
    font-weight: 600;
    letter-spacing: 0.2em;
    span {
      font-family: "audiowide", cursive;
      color: var(--themeTxtClr);
    }
  }
}
.featureHeader {
  @include darkMode;
  text-align: center;
  margin: 25px auto;
  padding: 1em;
  width: 95%;
  max-width: 300px;
  border-radius: 1rem;
  background-image: url("img/background_2.png");
  background-size: cover;
  background-color: white;
  h1 {
    text-align: center;
    font-family: "audiowide", cursive;
    color: var(--black);
    font-size: 1.4em;
    letter-spacing: 2px;
    span {
      text-shadow: 0px 0px 2px var(--black);
      font-size: 1.6em;
      color: var(--themeTxtClr);
    }
  }
}
.chapterHeader {
  color: var(--white);
  font-size: 2em;
}
.chapterSubHeader {
  color: var(--white);
  font-size: 1.5em;
  text-align: center;
}
.showBtn {
  width: 150px;
  margin: auto;
  margin-bottom: 1em;
  button {
    @include darkMode;
    width: 100%;
    cursor: pointer;
    color: var(--themeTxtClr);
    letter-spacing: 1px;
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 1rem;
    margin: auto;
    margin-top: 25px;
  }
}
.navBar-container {
  position: fixed;
  z-index: 5;
  width: 100vw;
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
}
nav {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--themeBdr);
    background-color: var(--darkModeClrlgtOp);
    li {
      border-right: 2px solid var(--themeBdr);
      margin: 3px 0px;
      a {
        display: block;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 85px;
        min-width: 55px;
        height: 15px;
        padding: 0px 5px;
        font-size: 8px;
        letter-spacing: 0.1em;
        text-decoration: none;
        text-align: center;
        color: var(--darkModeTxtClr);
      }
      a:active {
        color: var(--black);
      }
      .activePage {
        text-shadow: 0px 0px 2px var(--black);
        color: var(--themeTxtClr);
      }
    }
    li:last-child {
      border-right: none;
    }
    li:hover a {
      color: var(--themeTxtClr);
      text-shadow: 0px 0px 2px var(--black);
    }
  }
}
.navBarBtn {
  margin: auto;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 17px;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.5em;
    border: 2px solid var(--themeBdr);
    outline: none;
    background-color: var(--darkModeClrlgtOp);
    color: var(--darkModeTxtClr);
    text-shadow: 0px 0px 2px var(--black);
    span {
      content: "";
      background-color: var(--darkModeTxtClr);
      width: 13px;
      height: 13px;
      clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
      transform: rotateZ(90deg);
      transform-origin: center;
    }
  }
}
// Nav Bar Animation Classes
.navBar-container.ShowNavBar {
  animation: navMenuShow 750ms ease-in-out forwards;
}
.navBar-container.HideNavBar {
  animation: navMenuHide 750ms ease-in-out forwards;
}
.navBar-container .navBarBtn button.activeMenu {
  animation: navMenuActive 750ms ease-out forwards;
}
.navBar-container .navBarBtn button.nonactiveMenu {
  animation: navMenuHidden 750ms ease-out forwards;
}
.navBar-container .navBarBtn button span.arrowShowL {
  animation: arrowShowL 750ms ease-in-out forwards,
    navMenuActive 750ms 300ms ease-out forwards;
}
.navBar-container .navBarBtn button span.arrowShowR {
  animation: arrowShowR 750ms ease-in-out forwards,
    navMenuActive 750ms 300ms ease-out forwards;
}
.navBar-container .navBarBtn button span.arrowHideL {
  animation: arrowHideL 750ms ease-in-out forwards,
    navMenuActive 750ms 300ms ease-out forwards;
}
.navBar-container .navBarBtn button span.arrowHideR {
  animation: arrowHideR 750ms ease-in-out forwards,
    navMenuActive 750ms 300ms ease-out forwards;
}
// Nav Bar Animation
@keyframes navMenuShow {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: (-45px);
  }
}
@keyframes navMenuHide {
  0% {
    margin-top: (-45px);
  }
  100% {
    margin-top: (0px);
  }
}
@keyframes navMenuShowLg {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: (-55px);
  }
}
@keyframes navMenuHideLg {
  0% {
    margin-top: (-55px);
  }
  100% {
    margin-top: (0px);
  }
}
@keyframes arrowShowL {
  0% {
    transform: rotate(90deg);
    margin-bottom: 0.65rem;
    background-color: var(--themeTxtClr);
  }
  60% {
    background-color: var(--themeTxtClr);
  }
  100% {
    transform: rotate(270deg);
    margin-bottom: -0.65rem;
    background-color: var(--darkModeTxtClr);
  }
}
@keyframes arrowShowR {
  0% {
    transform: rotate(90deg);
    margin-bottom: 0.65rem;
  }
  60% {
    background-color: var(--themeTxtClr);
  }
  100% {
    transform: rotate(-90deg);
    margin-bottom: -0.65rem;
    background-color: var(--darkModeTxtClr);
  }
}
@keyframes arrowHideL {
  0% {
    transform: rotate(-90deg);
    margin-bottom: -0.65rem;
    background-color: var(--darkModeTxtClr);
  }
  60% {
    background-color: var(--darkModeTxtClr);
  }
  100% {
    transform: rotate(-270deg);
    background-color: var(--themeTxtClr);
    margin-bottom: 0.65rem;
  }
}
@keyframes arrowHideR {
  0% {
    transform: rotate(-90deg);
    margin-bottom: -0.65rem;
    background-color: var(--darkModeTxtClr);
  }
  60% {
    background-color: var(--darkModeTxtClr);
  }
  100% {
    background-color: var(--themeTxtClr);
    transform: rotate(90deg);
    margin-bottom: 0.65rem;
  }
}
@keyframes navMenuActive {
  0% {
    color: var(--themeTxtClr);
  }
  60% {
    color: var(--themeTxtClr);
  }
  100% {
    color: var(--darkModeTxtClr);
  }
}
@keyframes navMenuHidden {
  0% {
    color: var(--darkModeTxtClr);
  }
  60% {
    color: var(--darkModeTxtClr);
  }
  100% {
    color: var(--themeTxtClr);
  }
}

// Toggle Animations
/*
.toggle.toggleAnim {
  animation: toggleAnim 400ms linear both;
}
.toggle.toggleAnimRev {
  animation: toggleAnimRev 400ms linear both;
}

@keyframes toggleAnim {
  0% {
    transform: translateX(2.5px);
  }
  100% {
    transform: translateX(25px);
  }
}
@keyframes toggleAnimRev {
  0% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(2.5px);
  }
}
*/
@keyframes Sun {
  0% {
    opacity: 0;
    transform: scale(0.3);
    transform: translateY(30px);
  }
  40% {
    opacity: 0;
    transform: scale(0.3);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0px);
  }
}
// Theme Dot Animation
@keyframes dots {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes dotsHide {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
.spacer {
  width: 100%;
  height: 500px;
}

@media (min-width: 320px) {
  .navBar-container {
    top: 0px;
    margin-top: -55px;
    ul {
      li {
        a {
          font-weight: 400;
          font-size: calc(0.3vw + 0.5rem);
          letter-spacing: 1px;
        }
      }
    }
  }
  .banner {
    &__top {
      height: 35vw;
      h1 {
        font-size: 1.5em;
        padding-bottom: 10px;
      }
    }
  }
}
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
  .article {
    margin: 2em;
  }
  .navBar-container {
    position: fixed;
    top: 0px;
    margin-top: -55px;
    width: 100vw;
    z-index: 5;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
    ul {
      li {
        a {
          font-weight: 400;
          font-size: calc(0.3vw + 0.5rem);
          font-weight: 600;
          letter-spacing: 2px;
          min-width: 100px;
          height: 20px;
        }
      }
    }
    .navBarBtn {
      button {
        height: 25px;
        font-size: 1.1em;
        span {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .navBar-container.ShowNavBar {
    animation: navMenuShowLg 750ms ease-in-out forwards;
  }
  .navBar-container.HideNavBar {
    animation: navMenuHideLg 750ms ease-in-out forwards;
  }
  .banner {
    &__top {
      .logo-bar__img {
        padding-top: 5px;
      }
    }
    &__title {
      height: calc(6vw + 6em);
      h2 {
        top: calc(1vw + 1.5em);
        font-size: 2em;
      }
    }
    .article {
      .imgs {
        padding: 3em;
      }
    }
  }
}
@media (min-width: 550px) {
  .navBar-container {
    ul {
      li {
        a {
          min-width: 125px;
        }
      }
    }
  }
  .banner {
    &__top {
      .logo-bar__img {
        padding-top: 10px;
        img {
          min-width: calc(4.5vw + 4.5rem);
        }
      }
    }
    &__title {
      height: calc(7vw + 7em);
      h2 {
        top: calc(1vw + 1.3em);
        color: var(--themeTxtClr);
        font-size: calc(2vw + 2em);
        letter-spacing: 0.25em;
        text-shadow: 0px 0px 5px var(--black);
      }
    }
  }
  .article {
    .imgs {
      padding: 4em;
    }
  }
}
@media (min-width: 769px) {
  .banner{
    &__top{
      .logo-bar__img{
         padding-top: 20px;
      }
      h1{
        font-size: 2em;
        padding-bottom: 15px;
      }
    }
  }
  .navBar-container {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    ul {
      li {
        a {
          max-width: 150px;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .banner{
    &__top{
      height: 25vw;
      .logo-bar__img{
         padding-top: 10px;
      }
    }
  }
  .navBar-container {
    width: 55%;
  }
  .devBar-list__sass {
    top: 62%;
  }
  .devBar-list__javaScript {
    top: 60%;
  }
}
@media (min-width: 1200px) {
  .banner{
    &__top{
      .logo-bar__img{
        padding-top: 30px;
      }
    }
  }
}
