
@media (max-width: 1100px) {
  .logo-bar__img img {
    display: none;
  }
}

@import "_header";
@import "_global";
@import "_utils";
@import "_secBanners";
@import "_homeWork";
@import "_theProgram";
@import "_dream";
@import "_about";
@import "_aniMusic";
@import "_imgProjects";




/*             Right Chevron Thick
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

                Right Chevron Thin
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
*/

/*             left Chevron Thick
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
                Left Chevron Thin
clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
*/

/*             left Triangle
clip-path: polygon(50% 0%, 50% 50%, 50% 100%, 0% 50%);
                Right Triangle
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 50% 50%);
*/
